name: Build ScreenShot Bypass
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
          
      - name: Build Tweak
        run: |
          export THEOS=~/theos
          make all FINALPACKAGE=1
        
      - name: Upload Tweak
        uses: actions/upload-artifact@v4
        with:
          name: Telegram_Screenshot_Bypass
          path: ".theos/obj/**/*.dylib"
