name: Build
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Theos
        run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
      - name: Build Tweak
        run: |
          export THEOS=~/theos
          make package FINALPACKAGE=1
      - uses: actions/upload-artifact@v3
        with:
          name: TweakFile
          path: packages/*.deb
