name: Build Telegram Ultra Ghost
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
          
      - name: Build Tweak
        run: |
          export THEOS=~/theos
          make all
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Telegram_Ghost_Ready
          # هذا التعديل سيجعل GitHub يبحث في كل المجلدات ويجد ملفك بالتأكيد
          path: "**/*.dylib"
