name: Build Tweak
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Download iOS SDK
        run: |
          git clone https://github.com/theos/sdks.git $THEOS/sdks

      - name: Build Package
        run: |
          export THEOS=~/theos
          make package FINALPACKAGE=1
          
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: RaveGhost_Dylib
          path: packages/*.deb
