name: Build Telegram Ultra Ghost
on:
  workflow_dispatch:

jobs:
  build:
    # التغيير لـ macos-15 يحل مشكلة Retired ويصلح خطأ 8
    runs-on: macos-15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
          
      - name: Build Tweak
        run: |
          export THEOS=~/theos
          # إضافة FINALPACKAGE=1 تضمن استقرار البناء ومنع خطأ 2
          make all FINALPACKAGE=1
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Telegram_Ghost_M4_Ready
          path: "**/*.dylib"
